<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/css/poole.css" | absURL }}">
  <link rel="stylesheet" href="{{ "/css/hyde.css" | absURL }}">
  <link rel="stylesheet" href="{{ "/css/hyde-overrides.css" | absURL }}">
  <link rel="stylesheet" href="{{ "/css/hyde-x.css" | absURL }}">
  <link rel="stylesheet" href="{{ "/css/site.css" | absURL }}">
  {{ if isset .Site.Params "highlight" }}<link rel="stylesheet" href="{{ "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/" | absURL }}{{ .Site.Params.highlight }}.min.css">{{ end }}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  {{ with .Site.Params.customCSS }}<link rel="stylesheet" href="{{ . }}">{{ end }}

  <!-- Icons -->
  {{ with .Site.Params.gravatarHash }}
  <!-- Inspired by https://gist.github.com/daankortenbach/1322800 -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.gravatar.com/avatar/{{ . }}?s=144">
  <link rel="shortcut icon" href="http://www.gravatar.com/avatar/{{ . }}?s=16" />
  {{else}}
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/touch-icon-144-precomposed.png" | absURL }}">
  <link href="{{ "/favicon.png" | absURL }}" rel="icon">
  {{ end}}

  <!-- RSS -->
  {{ $siteTitle := .Site.Title }}
  {{ with .RSSLink }}<link href="{{ . }}" rel="alternate" type="application/rss+xml" title="{{ $siteTitle }}" />{{ end }}
  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}">
  <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
  {{ with .Site.Params.googleAnalytics }}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ . }}', 'auto');
    ga('send', 'pageview');
  </script>
  {{ end }}
</head>
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }}>
{{ partial "sidebar.html" . }}
